<main>
    <h1 class="title">Explore Mathematical Functions</h1>
    <p class="description">
      This section contains examples of function studies from the 
      <a href="/sandbox">Sandbox</a> section. Each card provides details such as the function's name, equation, graph, energy, power, and derivative.
    </p>
  
    <div class="cards">
      @for (signal of signals; track $index) {
        <app-signal-card class="graph-card" [signalData]="signal"></app-signal-card>
      }
    </div>
  </main>
  