<div appearance="outlined">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><strong>Function</strong> '{{signalData.id}}'</mat-card-title>
    <mat-card-subtitle><strong>Equation: </strong>'{{signalData.equation}}'</mat-card-subtitle>
  </mat-card-header>
  <app-signal-graph [timeData]="signalData.time" [amplitudeData]="signalData.amplitude"></app-signal-graph>
  <mat-card-content>
    <ul>
      <li><p><strong>Energy: </strong>{{signalData.energy}}</p></li>
      <li><p><strong>Puissance: </strong>{{signalData.puissance}}</p></li>
      <li><p><strong>Derivative: </strong> {{signalData.derivative}}</p></li>
    </ul>
  </mat-card-content>
</mat-card>
</div>