.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-card {
  width: 300px;  /* Set a smaller width */
  min-height: 300px; /* Minimum height */
  padding: 10px;
  margin: 10px;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); /* Soft shadow */
}

mat-card-title, mat-card-subtitle {
  font-size: 14px; /* Reduce text size */
  line-height: 1.2;
}

mat-card-content ul {
  padding-left: 0;
  list-style: none;
  font-size: 12px; /* Reduce font size */
}

app-signal-graph {
  height: 260px; /* Adjust graph size */
}